
// Key 1
.scale-0::after{
	background-color: $key-1-col;
}

// Key 2
.scale-1::after{
	background-color: $key-2-col;
}

// Key 1 & 2
.scale-0.scale-1::after{
	@include both;
}

// Key 1 Root 1
.root-0::after{
	background-color: $key-1-col;
}

// Key 2 Root 2
.root-1::after{
	background-color: $key-2-col;
}

// Key 1 & 2, Root 1
.scale-0.scale-1.root-0::after{
	border-color: $key-1-col;
	color:$key-2-col;
}

// Key 1 & 2, Root 2 
.scale-0.scale-1.root-1::after{
	border-color: $key-2-col;
	color:$key-1-col;
}

// Key 1 & 2, Root 1 & 2
.scale-0.scale-1.root-0.root-1::after{
	@include both;
}


// Shared styles

.scale-0::after, .scale-1::after, .scale-0.scale-1::after{
	border-radius: 8px;
}

.root-0::after, .root-1::after, .scale-0.scale-1.root-0::after, .scale-0.scale-1.root-1::after, .scale-0.scale-1.root-0.root-1::after{
	border-radius: 0 ;
}

.scale-0.scale-1.root-0::after, .scale-0.scale-1.root-1::after{
	background:none;
	content:"•";
	font-size:40px;
	line-height:0.55;
}